<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281701485966-q7r2al4qd6a6tnpfpqt6p9em6ok37aup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281701485966-q7r2al4qd6a6tnpfpqt6p9em6ok37aup</string>
	<key>API_KEY</key>
	<string>AIzaSyDfo8MJpH-reREeYc0gRCeuBBoNlX8rNdc</string>
	<key>GCM_SENDER_ID</key>
	<string>281701485966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.jiabsales</string>
	<key>PROJECT_ID</key>
	<string>jiabsales</string>
	<key>STORAGE_BUCKET</key>
	<string>jiabsales.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281701485966:ios:476fc9fb001c58ebdee8df</string>
	<key>DATABASE_URL</key>
	<string>https://jiabsales.firebaseio.com</string>
</dict>
</plist>